
    <footer>
    </footer>
    <script>
      document.querySelectorAll('.pantone-card').forEach(card => {
        const color = card.querySelector('.swatch-color').dataset.color;
        card.addEventListener('mouseenter', () => document.body.style.backgroundColor = color);
        card.addEventListener('mouseleave', () => document.body.style.backgroundColor = '');
      });
</script>
  </body>
</html>